
.img-center {
	margin: 0 auto;
}

footer {
    margin: 50px 0;
}

#maincontainer{
    margin-top: 5%;
}

#avatar{
    width: 40%;
}

#carouselImg{
    width: 100%;
}

#footerLabel{
    margin-left: 10px;
}